#root {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.calc-container {
  width: 432px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 16px;
  background-color: #404040;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
}

.calc-input {
  width: calc(100% - 16px);
}

.calc-operation,
.calc-pending {
  position: absolute;
  max-height: 80px;
  overflow: auto;
  padding: 8px;
  margin: 8px;
  max-width: 80px;
}

.calc-pending {
  color: yellow;
}

.calc-operation {
  color: #aaa;
}

.calc-input {
  background-color: #628141;
  height: 96px;
  text-align: right;
  font-size: 50px;
  margin: 1%;
}

button {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 25px;
}

.column-1 {
  float: left;
  margin: 1%;
  width: 23%;
}

.column-2 {
  float: left;
  margin: 1%;
  width: 48%;
}

.column-3 {
  float: left;
  margin: 1%;
  width: 73%;
}

.reset>button {
  color: red;
}

.special>button {
  color: yellow;
}
